<!DOCTYPE html>

<html>

<head>

<title>Nova Register</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body class="auth-page">


<div class="auth-card">


<h1>
🌸 Nova
</h1>


<h2>
Create Account ✨
</h2>


<p>
Join Nova and start shopping
</p>



<form method="POST">

{% csrf_token %}


<input 
type="text"
name="username"
placeholder="Username"
required>



<input 
type="password"
name="password"
placeholder="Password"
required>



<button class="auth-btn">

Register

</button>


</form>



<p>

Already have an account?

<a href="/login/">

Login

</a>

</p>


</div>


</body>

</html>